<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='Logotype@2x.png') }}" alt="CDG Logo" class="logo-img">
    </div>
    <div class="card">
        <h2>Bienvenue sur DigiTickets</h2>
        <form method="post">
            <label for="username">Nom d’utilisateur :</label>
            <input type="text" id="username" name="username" required placeholder="Nom d’utilisateur"><br>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required placeholder="Mot de passe"><br>
            <button type="submit">Se connecter</button>
            <a class="forgot-link" href="{{ url_for('forgot_password') }}">Mot de passe oublié ?</a>
        </form>
        <p style="color:red;">{{ message }}</p>
    </div>
</body>
</html> 